
/* --- Colors --- */
$type_color: black;
$green: #83D0B0;
$blue: #5D86C4;
$turquoise: #68C4D9;
$pink: #F56A65;


$border1: 0.2px solid #C4C4C4;
$shadow1:2px 2px 5px rgba(0, 0, 0, 0.12);


/* --- Mixins --- */
@mixin image {
    img {
        width: 100%;
        object-fit: cover;
    }
}

@mixin card {
    background-color: #FFFFFF;
    box-shadow: $shadow1;
    border: $border1;
    border-radius: 3px;
    padding: 1.7rem 1rem 1.7rem 1rem;
    margin: .8rem 0 0 0;
}


/* --- Typography --- */
@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,500,700&display=swap');

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$arial: Arial, Helvetica, sans-serif;

a {
    text-decoration: none;
    color: inherit;
    margin: 0;

    &:visited {
        color: inherit;
    }
}

ul {
    list-style: none;
}

.title1 {
    font-size: 2.5rem;
    font-family: $roboto;
    font-weight: 500;
    margin: 0 0 4rem 0;
    text-align: center;
}

.title2 {
    font-size: 2rem;
    font-family: $roboto;
    font-weight: 500;
}

.i_pink {
    color: $pink;
}

.i_blue {
    color: $blue;
}

.i_turq {
    color: $turquoise;
}

.i_green{
    color: $green;
}

/* --- ALL --- */
* {
    //border: .5px solid pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: black;
    font-size: 13px;
    font-family: $roboto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    // width: 500px;
}


/* --- GENERAL ---*/
.wrapper {
    padding: 11rem 0 2rem 0;
}


/* --- START ---*/
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    padding: 0;

    .logo {
        font-family: $raleway;
        font-size: 4rem;
        font-weight: bold;
        color: $type_color;
    }

    .imagotype {
        width: 100px;
        height: 100px;
        background-color: yellow;
        -webkit-animation-name: animate;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s;
        /* Safari 4.0 - 8.0 */
        animation-name: animate;
        animation-duration: 4s;
    }

    @-webkit-keyframes animate {
        from {
            background-color: red;
        }

        to {
            background-color: yellow;
        }

        0% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    /* Standard syntax */
    @keyframes animate {
        from {
            background-color: red;
        }

        to {
            background-color: yellow;
        }

        0% {
            transform: translateY(-20px);
        }
        40% {
            transform: translateY(0px);
        }
    }

}

/* --- WHO ---*/
.who {
    background-color: lighten($color: $turquoise, $amount: 30);
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;

    h1 {
        text-align: center;
    }

    .card1 {
        width: 80%;
        @include card;
        display: flex;
        flex-flow: row wrap;

        .text {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0 0 0 1rem;
            width: 85%;
        }
    }

}