/* --- Colors --- */
$type_color: black;
$green: #83D0B0;
$blue: #5D86C4;
$turquoise: #68C4D9;
$pink: #F56A65;


$border1: 0.2px solid #C4C4C4;
$shadow1:2px 2px 5px rgba(0, 0, 0, 0.12);


.b_green {
    background-color: $green;
}

.b_blue {
    background-color: $blue;
}

.b_pink {
    background-color: $pink;
}

.b_turq {
    background-color: $turquoise;
}


/* --- Mixins --- */
@mixin image {
    img {
        width: 100%;
        object-fit: cover;
    }
}

@mixin card {
    background-color: #FFFFFF;
    box-shadow: $shadow1;
    border: $border1;
    border-radius: 3px;
}


/* --- Typography --- */
@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,500,700&display=swap');

$roboto: 'Roboto',
sans-serif;
$raleway: 'Raleway',
sans-serif;
$arial: Arial,
Helvetica,
sans-serif;

a {
    text-decoration: none;
    color: inherit;
    margin: 0;

    &:visited {
        color: inherit;
    }
}

ul {
    list-style: none;
}

.title1 {
    font-size: 2.5rem;
    font-family: $roboto;
    font-weight: 500;
    margin: 0 0 4rem 0;
    text-align: center;
}

.title2 {
    font-size: 2rem;
    font-family: $roboto;
    font-weight: 500;
    text-align: center;
}

.i_pink {
    color: $pink;
}

.i_blue {
    color: $blue;
}

.i_turq {
    color: $turquoise;
}

.i_green {
    color: $green;
}

/* --- COMPONENTS---*/

button {
    border: $border1;
    box-shadow: $shadow1;
    border-radius: 3px;
    padding: 1rem 1.2rem 1rem 1.2rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: .7rem 0 0 0;
}


form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

input {
    background-color: lighten($color: $turquoise, $amount: 25);
    border: $border1;
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    width: 80%;
    height: 1.8rem;
    margin: 0 0 1rem 0;
}


/* --- ALL --- */
* {
    //border: .5px solid pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: black;
    font-size: 13px;
    font-family: $roboto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    // width: 500px;
}


/* --- GENERAL ---*/
.wrapper {
    padding: 11rem 0 2rem 0;
}


/* --- LOGIN ---*/

.login {
    background-color: lighten($color: $turquoise, $amount: 30);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5rem 0 5rem 0;

    .login_main {
        width: 85%;
        @include card;
        padding: 1.7rem 1rem 1.7rem 1rem;
        margin: .8rem 0 0 0;

        .description {
            margin: 0 0 .5rem 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-content: center;
            font-size: 1.15rem;

            i {
                color: $turquoise;
                font-size: 1.2rem;
                margin: 0 0 0 .2rem;
            }
        }

    }

    .login_photo {
        width: 85%;
        @include card;
        padding: 1.7rem 1rem 1.7rem 1rem;
        margin: .8rem 0 0 0;
        display: flex;
        justify-content: space-around;

        .right {
            width: 80px;
            height: 80px;
            background-color: lighten($color: $turquoise, $amount: 20);
            border-radius: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                text-align: center;
                font-size: 4rem;
                color: $turquoise;
            }
        }
    }

    .actions {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}


/* --- CONFIRMATION ---*/

.confirmation {
    background-color: lighten($color: $turquoise, $amount: 30);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0;

    .confirmation_main {
        width: 85%;
        @include card;
        margin: .8rem 0 0 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 2rem 1rem 2rem 1rem;

        .description {
            margin: 1rem 0 .5rem 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            font-size: 1.2rem;

            i {
                color: $turquoise;
                font-size: 1.3rem;
                margin: 0 .6rem 0 0;
            }

            .item {
                display: flex;
                flex-flow: row wrap;
                margin: .7rem 0 0 0;
            }
        }

        .photo {
            width: 7rem;
            height: 7rem;
            border-radius: 7rem;

            img {
                object-fit: cover;
                width: 7rem;
                height: 7rem;
                border-radius: 7rem;
            }
        }

    }

    .actions {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 1.6rem 0 0 0;
    }
}


/* --- ----  ELEMENTS ----- ---*/

.side_menu_container {
    display: none;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(4px);

    .side_menu {
        background-color: white;
        box-shadow: $shadow1;
        height: 100vh;
        width: 70%;

        .menu_close {
            padding: 1rem .8rem .5rem .8rem;
        }

        .menu_logo {
            width: 8rem;
            margin: 0;
            padding: 0;

            img {
                object-fit: contain;
                width: 100%;
            }
        }

        ul {
            padding: 1rem 1.5rem 1rem 3rem;

            li {
                padding: 1rem;
                font-size: 1.5rem;
                margin: .2rem 0 0 0;
                border-bottom: $border1;
                display: flex;
                flex-flow: row wrap;
                align-content: center;

                &:first-child {
                    border-bottom: none;
                }

                i {
                    margin: 0 .5rem 0 0;
                }

                .close {
                    color: $pink;
                }
            }

        }
    }
}

header {
    z-index: 10;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .7rem .8rem .5rem .8rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 3px 3px;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .header_logo {
        width: 1.4rem;
    }
}

main {
    .breadcrumb {
        padding: .5rem 2rem .5rem 2rem;

        ul {
            display: flex;

            li {
                margin: 0 1rem 0 0;
                color: white;
                font-weight: 400;
                font-size: 1rem;
            }
        }

        .li_selected {
            color: $type_color;
            font-weight: 600;
        }

    }

    .navigation {
        @include card;
        background-color: white;

        ul {
            display: flex;
            justify-content: space-around;
            padding: .5rem 1rem .5rem 1rem;
        }
    }

    .content {
        padding: 1rem 1.3rem 6rem 1.3rem;
    }
}


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: .7rem 1.2rem .7rem 1.2rem;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.19);

    .material-icons {
        font-size: 2.3rem;
    }

    .i_selected {
        color: $type_color;
    }

    .search_bar {
        display: none;
    }

    input {
        background-color: white;
        height: 3rem;
        margin: 0;
        width: 18rem;
        padding: 1rem;

        &::placeholder {
            color: lighten($color: $type_color, $amount: 25);
            font-family: $roboto;
            font-size: 1.1rem;
        }
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
}

//Calendar Mockup



/* --- CARDS ---*/

.user_card {
    @include card;
    margin: .8rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;

    .photo {
        height: 80px;
        width: 80px;
        border-radius: 80px;

        img {
            object-fit: cover;
            height: 80px;
            width: 80px;
            border-radius: 80px;
        }
    }

    .card_info {
        width: 65%;

        .user_name {
            font-weight: 600;
            font-size: 1.3rem;
        }

        .user_id {
            margin: .2rem 0 0 0;
            font-weight: 300;
            font-size: 1.1rem;
        }

        .card_footer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 1rem 0 0 0;

            .places {
                display: flex;
                align-items: center;
                margin: 0 .5rem 0 0;

                i {
                    color: $pink;
                    margin: 0 .2rem 0 0;
                }

                b {
                    margin: 0 .2rem 0 0;
                }
            }

            .identification {
                color: $turquoise;
                display: flex;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

.detail_card {
    @include card;
    margin: 0;
    padding: 1.2rem 2rem .5rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .photo {
        height: 70px;
        width: 70px;
        border-radius: 70px;

        img {
            object-fit: cover;
            height: 70px;
            width: 70px;
            border-radius: 70px;
        }
    }

    .card_info {
        width: 70%;

        .user_name {
            font-weight: 600;
            font-size: 1.3rem;
        }

        .user_id {
            margin: .2rem 0 0 0;
            font-weight: 300;
            font-size: 1.1rem;
        }

        .card_footer {
            margin: 0;
            display: flex;
            justify-content: flex-end;

            .identification {
                color: $turquoise;
                width: 2rem;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

.place_card {
    @include card;
    margin: .7rem 0 0 0;
    padding: 1rem 1.5rem 1rem 1.5rem;

    .card_header {
        display: flex;
        //align-items: center;

        .name {
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0 0 0 .6rem;
        }

        i {
            color: $pink;
        }
    }

    .more_info {
        display: none;
        ul {
            padding: 1.2rem 0 .8rem 2rem;

            li {
                background-color: lighten($color: $turquoise, $amount: 25);
                margin: .8rem 0 0 0;
                padding: .6rem;
                border-radius: 3px;
                font-weight: 500;
                font-size: 1.1rem;
                color: lighten($color: $type_color, $amount: 20)
            }

            .given {}
        }
    }

    .card_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem 0 0 0;

        .show_less {
            display: none;
            color: $turquoise;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .show_more {
            color: $turquoise;
            font-weight: 500;
            font-size: 1.2rem;
        }
    }

}

.group_card {
    @include card;

}

.detail_card {
    @include card;

}



/* --- USERS ---*/

.users {

    //Theme

    header {
        .header_logo {
            width: 1.4rem;
            color: $turquoise;
        }
    }

    main {
        background-color: lighten($color: $turquoise, $amount: 30);

        .breadcrumb {
            background-color: $turquoise;
        }
    }

    footer {
        background-color: $turquoise;

        .material-icons {
            color: lighten($color: $turquoise, $amount: 50)
        }

        .i_selected {
            color: $type_color;
        }
    }

    main {
        .navigation {
            ul {
                li {
                    color: lighten($color: $type_color, $amount: 65);
                    font-weight: 500;
                }

                .nav_selected {
                    color: $pink;
                }
            }
        }
    }

    .users_wrapper {
        padding: 5rem 1.3rem 6rem 1.3rem;
    }

    .user_wrapper {
        padding: 0;
        margin: 4rem 0 0 0;

        .content {
            .places {
                display: block;
            }

            .groups {
                display: none;
            }

            .calendar {
                display: none;
            }

            .settings {
                display: none;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

        }
    }

}