/* --- Colors --- */
@import url("https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,500,700&display=swap");
.b_green {
  background-color: #83D0B0;
}

.b_blue {
  background-color: #5D86C4;
}

.b_pink {
  background-color: #F56A65;
}

.b_turq {
  background-color: #68C4D9;
}

/* --- Mixins --- */
/* --- Typography --- */
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.title1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0 0 4rem 0;
  text-align: center;
}

.title2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

.i_pink {
  color: #F56A65;
}

.i_blue {
  color: #5D86C4;
}

.i_turq {
  color: #68C4D9;
}

.i_green {
  color: #83D0B0;
}

/* --- COMPONENTS---*/
button {
  border: 0.2px solid #C4C4C4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 1rem 1.2rem 1rem 1.2rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin: .7rem 0 0 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input {
  background-color: #ceecf3;
  border: 0.2px solid #C4C4C4;
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  width: 80%;
  height: 1.8rem;
  margin: 0 0 1rem 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --- ALL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: black;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* --- GENERAL ---*/
.wrapper {
  padding: 11rem 0 2rem 0;
}

/* --- LOGIN ---*/
.login {
  background-color: #e2f4f8;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.login .login_main {
  width: 85%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  padding: 1.7rem 1rem 1.7rem 1rem;
  margin: .8rem 0 0 0;
}

.login .login_main .description {
  margin: 0 0 .5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  font-size: 1.15rem;
}

.login .login_main .description i {
  color: #68C4D9;
  font-size: 1.2rem;
  margin: 0 0 0 .2rem;
}

.login .login_photo {
  width: 85%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  padding: 1.7rem 1rem 1.7rem 1rem;
  margin: .8rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.login .login_photo .right {
  width: 80px;
  height: 80px;
  background-color: #b9e4ee;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .login_photo .right i {
  text-align: center;
  font-size: 4rem;
  color: #68C4D9;
}

.login .actions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* --- CONFIRMATION ---*/
.confirmation {
  background-color: #e2f4f8;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.confirmation .confirmation_main {
  width: 85%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: .8rem 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
}

.confirmation .confirmation_main .description {
  margin: 1rem 0 .5rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 1.2rem;
}

.confirmation .confirmation_main .description i {
  color: #68C4D9;
  font-size: 1.3rem;
  margin: 0 .6rem 0 0;
}

.confirmation .confirmation_main .description .item {
  display: flex;
  flex-flow: row wrap;
  margin: .7rem 0 0 0;
}

.confirmation .confirmation_main .photo {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
}

.confirmation .confirmation_main .photo img {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
}

.confirmation .actions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 1.6rem 0 0 0;
}

/* --- NEW USER ---*/
.progress_bar {
  position: fixed;
  left: 0;
  top: 4rem;
  height: .6rem;
  background-color: #68C4D9;
}

.st1 {
  width: 10%;
}

.st2 {
  width: 35%;
}

.st3 {
  width: 50%;
}

.st4 {
  width: 70%;
}

.st5 {
  width: 100%;
}

.login_user {
  padding: 6rem 0 2rem 0;
}

.login_user .title2 {
  font-size: 1.3rem;
  width: 80%;
}

.confirmation {
  justify-content: flex-start;
  padding: 9rem 0 2rem 0;
}

.confirmation .qr {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: 1.5rem;
  padding: 2.5rem 0 2rem 0;
  width: 85%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.confirmation .qr i {
  font-size: 6rem;
  color: #83D0B0;
}

.confirmation .qr .code {
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}

.confirmation .qr .feedback {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

/* --- ----  ELEMENTS ----- ---*/
.side_menu_container {
  display: none;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(4px);
}

.side_menu_container .side_menu {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  height: 100vh;
  width: 70%;
}

.side_menu_container .side_menu .menu_close {
  padding: 1rem .8rem .5rem .8rem;
}

.side_menu_container .side_menu .menu_logo {
  width: 8rem;
  margin: 0;
  padding: 0;
}

.side_menu_container .side_menu .menu_logo img {
  object-fit: contain;
  width: 100%;
}

.side_menu_container .side_menu ul {
  padding: 1rem 1.5rem 1rem 3rem;
}

.side_menu_container .side_menu ul li {
  padding: 1rem;
  font-size: 1.5rem;
  margin: .2rem 0 0 0;
  border-bottom: 0.2px solid #C4C4C4;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.side_menu_container .side_menu ul li:first-child {
  border-bottom: none;
}

.side_menu_container .side_menu ul li i {
  margin: 0 .5rem 0 0;
}

.side_menu_container .side_menu ul li .close {
  color: #F56A65;
}

header {
  z-index: 10;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: .7rem .8rem .5rem .8rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

header .header_logo {
  width: 1.4rem;
}

main .info_top {
  position: fixed;
  width: 100%;
}

main .info_top .breadcrumb {
  padding: .5rem 2rem .5rem 2rem;
}

main .info_top .breadcrumb ul {
  display: flex;
}

main .info_top .breadcrumb ul li {
  margin: 0 1rem 0 0;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

main .info_top .breadcrumb .li_selected {
  color: black;
  font-weight: 600;
}

main .info_top .navigation {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  background-color: white;
}

main .info_top .navigation ul {
  display: flex;
  justify-content: space-around;
  padding: .5rem 1rem .5rem 1rem;
}

main .content {
  padding: 13rem 1.3rem 6rem 1.3rem;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: .7rem 1.2rem .7rem 1.2rem;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.19);
}

footer .material-icons {
  font-size: 2.3rem;
}

footer .i_selected {
  color: black;
}

footer .search_bar {
  display: none;
}

footer input {
  background-color: white;
  height: 3rem;
  margin: 0;
  width: 18rem;
  padding: 1rem;
}

footer input::placeholder {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

footer .show {
  display: block;
}

footer .hide {
  display: none;
}

.modal_edit {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(4px);
}

.modal_edit .modal_content {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: 2rem;
  padding: 1.5rem 1.5rem 3rem 2.3rem;
}

.modal_edit .modal_content .close_modal_edit {
  text-align: right;
}

.modal_edit .modal_content li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: .8rem 0 0 0;
  width: 100%;
}

.modal_edit .modal_content li .task {
  width: 75%;
  padding: .6rem .6rem .6rem 1rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #333333;
  margin: 0 0 0 .7rem;
}

.modal_edit .modal_content li .task_selected {
  background-color: #ceecf3;
}

.modal_edit .modal_footer {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.more_button {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  color: white;
  padding: .5rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
}

.settings .place_card {
  padding: 2.5rem 2rem 2.5rem 2rem;
}

.settings .setting {
  display: flex;
  margin: 2rem 0 0 0;
  font-size: 1.3rem;
}

.settings .setting .task {
  margin: 0 0 0 .9rem;
}

.settings .setting:first-child {
  margin: 0;
}

.settings input {
  width: 3rem;
}

.calendar_mock {
  width: 100%;
  max-width: 300px;
  margin: 60px auto;
  height: auto;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.calendar:after {
  content: "";
  display: table;
  clear: both;
}

.mainHead {
  background: #68C4D9;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.mainHead h1 {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
  color: #fff;
  font-weight: 500;
}

.days {
  float: left;
  width: 14.2857142857%;
  background: #fab0ad;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 0;
}

.column {
  position: relative;
  float: left;
  width: 14.2857142857%;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  text-align: center;
  color: #4e707d;
  padding: 10px 0 10px 0;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.column:hover {
  background: #f4f4f4;
}

.start > li:last-of-type {
  float: right;
}

.light {
  color: #ccc;
}

.event {
  position: absolute;
  bottom: 3px;
  left: -1px;
  right: 0;
  margin: 0 auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #F56A65;
  width: 5px;
  height: 5px;
  display: block;
}

.work {
  position: absolute;
  bottom: 3px;
  left: -1px;
  right: 0;
  margin: 0 auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #83D0B0;
  width: 5px;
  height: 5px;
  display: block;
}

.meeting {
  position: absolute;
  bottom: 3px;
  left: -1px;
  right: 0;
  margin: 0 auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #5D86C4;
  width: 5px;
  height: 5px;
  display: block;
}

.weekend {
  background: #fff1f5;
}

/* --- CARDS ---*/
.user_card {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: .8rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
}

.user_card .photo {
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.user_card .photo img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.user_card .photo_place {
  height: 80px;
  width: 80px;
  border-radius: 0;
}

.user_card .photo_place img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 0;
}

.user_card .card_info {
  width: 65%;
}

.user_card .card_info .user_name {
  font-weight: 600;
  font-size: 1.3rem;
}

.user_card .card_info .user_id {
  margin: .2rem 0 0 0;
  font-weight: 300;
  font-size: 1.1rem;
}

.user_card .card_info .card_footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0 0;
}

.user_card .card_info .card_footer .places {
  display: flex;
  align-items: center;
  margin: 0 .5rem 0 0;
}

.user_card .card_info .card_footer .places i {
  color: #F56A65;
  margin: 0 .2rem 0 0;
}

.user_card .card_info .card_footer .places b {
  margin: 0 .2rem 0 0;
}

.user_card .card_info .card_footer .identification {
  color: #68C4D9;
  display: flex;
}

.user_card .card_info .card_footer i {
  font-size: 1.5rem;
}

.detail_card {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: 0;
  padding: 1.2rem 2rem .5rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.detail_card .photo {
  height: 70px;
  width: 70px;
  border-radius: 70px;
}

.detail_card .photo img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  border-radius: 70px;
}

.detail_card .card_info {
  width: 70%;
}

.detail_card .card_info .user_name {
  font-weight: 600;
  font-size: 1.3rem;
}

.detail_card .card_info .user_id {
  margin: .2rem 0 0 0;
  font-weight: 300;
  font-size: 1.1rem;
}

.detail_card .card_info .card_footer {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.detail_card .card_info .card_footer .identification {
  color: #68C4D9;
  width: 2rem;
}

.detail_card .card_info .card_footer i {
  font-size: 1.5rem;
}

.place_card {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: .7rem 0 0 0;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.place_card .card_header {
  display: flex;
}

.place_card .card_header .name {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 0 .6rem;
}

.place_card .card_header i {
  color: #F56A65;
}

.place_card .more_info {
  display: none;
}

.place_card .more_info ul {
  padding: 1.2rem 0 .8rem 2rem;
}

.place_card .more_info ul li {
  background-color: #ceecf3;
  margin: .8rem 0 0 0;
  padding: .6rem .6rem .6rem 1rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #333333;
}

.place_card .card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0 0 0;
}

.place_card .card_footer .show_less {
  display: none;
  color: #68C4D9;
  font-weight: 500;
  font-size: 1.2rem;
}

.place_card .card_footer .show_more {
  color: #68C4D9;
  font-weight: 500;
  font-size: 1.2rem;
}

.place_card .card_footer .show_more1 {
  color: #68C4D9;
  font-weight: 500;
  font-size: 1.2rem;
}

.group_card {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  margin: .8rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
}

.group_card .photo {
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.group_card .photo img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.group_card .card_info {
  width: 65%;
}

.group_card .card_info .user_name {
  font-weight: 600;
  font-size: 1.3rem;
}

.group_card .card_info .card_footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0 0;
}

.group_card .card_info .card_footer .info_group {
  display: flex;
  align-items: center;
  margin: 0 .5rem 0 0;
}

.group_card .card_info .card_footer .info_group i {
  color: #F56A65;
  margin: 0 .2rem 0 0;
}

.group_card .card_info .card_footer .info_group b {
  margin: 0 .2rem 0 0;
}

.group_card .card_info .card_footer i {
  font-size: 1.5rem;
}

.detail_card {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
}

/* --- USERS ---*/
.users header .header_logo {
  width: 1.4rem;
  color: #68C4D9;
}

.users main {
  background-color: #e2f4f8;
}

.users main .breadcrumb {
  background-color: #68C4D9;
}

.users footer {
  background-color: #68C4D9;
}

.users footer .material-icons {
  color: white;
}

.users footer .i_selected {
  color: black;
}

.users main .navigation ul li {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 1.1rem;
}

.users main .navigation ul .nav_selected {
  color: #F56A65;
}

.users .users_wrapper {
  padding: 5rem 1.3rem 6rem 1.3rem;
}

.users .user_wrapper {
  padding: 0;
  margin: 4rem 0 0 0;
}

.users .user_wrapper .content .places {
  display: block;
}

.users .user_wrapper .content .groups {
  display: none;
}

.users .user_wrapper .content .calendar {
  display: none;
}

.users .user_wrapper .content .settings {
  display: none;
}

.users .user_wrapper .content .show {
  display: block;
}

.users .user_wrapper .content .hide {
  display: none;
}

.users input:checked + .slider {
  background-color: #68C4D9;
}

.users input:focus + .slider {
  box-shadow: 0 0 1px #68C4D9;
}

.users .more_button {
  background-color: #F56A65;
}

.groups header .header_logo {
  width: 1.4rem;
  color: #F56A65;
}

.groups main {
  background-color: #fef5f5;
}

.groups main .breadcrumb {
  background-color: #F56A65;
}

.groups footer {
  background-color: #F56A65;
}

.groups footer .material-icons {
  color: white;
}

.groups footer .i_selected {
  color: black;
}

.groups main .navigation ul li {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 1.1rem;
}

.groups main .navigation ul .nav_selected {
  color: #68C4D9;
}

.groups .users_wrapper {
  padding: 5rem 1.3rem 6rem 1.3rem;
}

.groups .user_wrapper {
  padding: 0;
  margin: 4rem 0 0 0;
}

.groups .user_wrapper .content .places {
  display: block;
}

.groups .user_wrapper .content .groups {
  display: none;
}

.groups .user_wrapper .content .calendar {
  display: none;
}

.groups .user_wrapper .content .settings {
  display: none;
}

.groups .user_wrapper .content .show {
  display: block;
}

.groups .user_wrapper .content .hide {
  display: none;
}

.groups input:checked + .slider {
  background-color: #F56A65;
}

.groups input:focus + .slider {
  box-shadow: 0 0 1px #F56A65;
}

.groups .more_button {
  background-color: #68C4D9;
}

.places header .header_logo {
  width: 1.4rem;
  color: #83D0B0;
}

.places main {
  background-color: #f2faf7;
}

.places main .breadcrumb {
  background-color: #83D0B0;
}

.places footer {
  background-color: #83D0B0;
}

.places footer .material-icons {
  color: white;
}

.places footer .i_selected {
  color: black;
}

.places main .navigation ul li {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 1.1rem;
}

.places main .navigation ul .nav_selected {
  color: #5D86C4;
}

.places .users_wrapper {
  padding: 5rem 1.3rem 6rem 1.3rem;
}

.places .user_wrapper {
  padding: 0;
  margin: 4rem 0 0 0;
}

.places .user_wrapper .content .places {
  display: block;
}

.places .user_wrapper .content .groups {
  display: none;
}

.places .user_wrapper .content .calendar {
  display: none;
}

.places .user_wrapper .content .settings {
  display: none;
}

.places .user_wrapper .content .show {
  display: block;
}

.places .user_wrapper .content .hide {
  display: none;
}

.places input:checked + .slider {
  background-color: #83D0B0;
}

.places input:focus + .slider {
  box-shadow: 0 0 1px #83D0B0;
}

.places .more_button {
  background-color: #5D86C4;
}

.calendar header .header_logo {
  width: 1.4rem;
  color: #5D86C4;
}

.calendar main {
  background-color: #cddaed;
}

.calendar main .breadcrumb {
  background-color: #83D0B0;
}

.calendar footer {
  background-color: #5D86C4;
}

.calendar footer .material-icons {
  color: white;
}

.calendar footer .i_selected {
  color: black;
}

.calendar main .navigation ul li {
  color: #a6a6a6;
  font-weight: 500;
  font-size: 1.1rem;
}

.calendar main .navigation ul .nav_selected {
  color: #83D0B0;
}

.calendar .users_wrapper {
  padding: 5rem 1.3rem 6rem 1.3rem;
}

.calendar .user_wrapper {
  padding: 0;
  margin: 4rem 0 0 0;
}

.calendar .user_wrapper .content .places {
  display: block;
}

.calendar .user_wrapper .content .groups {
  display: none;
}

.calendar .user_wrapper .content .calendar {
  display: none;
}

.calendar .user_wrapper .content .settings {
  display: none;
}

.calendar .user_wrapper .content .show {
  display: block;
}

.calendar .user_wrapper .content .hide {
  display: none;
}

.calendar input:checked + .slider {
  background-color: #5D86C4;
}

.calendar input:focus + .slider {
  box-shadow: 0 0 1px #5D86C4;
}

.calendar .more_button {
  background-color: #83D0B0;
}

.soon {
  color: gray;
  height: 100vh;
  padding: 10rem 2rem 2rem 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.soon h1 {
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  margin: 1.5rem 0 0 0;
}

.soon i {
  font-size: 4rem;
  -webkit-animation: rotate-center 0.8s ease-in-out both;
  animation: rotate-center 0.8s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.place_color .card_info .card_footer .places i {
  color: #5D86C4;
}
