/* --- Colors --- */
@import url("https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,500,700&display=swap");
.b_green {
  background-color: #83D0B0;
}

.b_blue {
  background-color: #5D86C4;
}

.b_pink {
  background-color: #F56A65;
}

.b_turq {
  background-color: #68C4D9;
}

/* --- Mixins --- */
/* --- Typography --- */
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.title1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0 0 4rem 0;
  text-align: center;
}

.title2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

.i_pink {
  color: #F56A65;
}

.i_blue {
  color: #5D86C4;
}

.i_turq {
  color: #68C4D9;
}

.i_green {
  color: #83D0B0;
}

/* --- COMPONENTS---*/
button {
  border: 0.2px solid #C4C4C4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 1rem 1.2rem 1rem 1.2rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin: .7rem 0 0 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input {
  background-color: #ceecf3;
  border: 0.2px solid #C4C4C4;
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  width: 80%;
  height: 1.6rem;
  margin: 0 0 1rem 0;
}

/* --- ALL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: black;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* --- GENERAL ---*/
.wrapper {
  padding: 11rem 0 2rem 0;
}

/* --- LOGIN ---*/
.login {
  background-color: #e2f4f8;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 5rem 0 0 0;
}

.login .login_main {
  width: 80%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  padding: 1.7rem 1rem 1.7rem 1rem;
  margin: .8rem 0 0 0;
}

.login .login_main .description {
  margin: 0 0 .5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.login .login_main .description i {
  color: #68C4D9;
  font-size: 1.2rem;
  margin: 0 0 0 .2rem;
}

.login .login_photo {
  width: 80%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  padding: 1.7rem 1rem 1.7rem 1rem;
  margin: .8rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.login .login_photo .right {
  width: 80px;
  height: 80px;
  background-color: #b9e4ee;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .login_photo .right i {
  text-align: center;
  font-size: 4rem;
  color: #68C4D9;
}

.login .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* --- CONFIRMATION ---*/
.confirmation {
  background-color: #e2f4f8;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 5rem 0 0 0;
}

.confirmation .confirmation_main {
  width: 80%;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  border: 0.2px solid #C4C4C4;
  border-radius: 3px;
  padding: 1.7rem 1rem 1.7rem 1rem;
  margin: .8rem 0 0 0;
}

.confirmation .confirmation_main .description {
  margin: 0 0 .5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.confirmation .confirmation_main .description i {
  color: #68C4D9;
  font-size: 1.2rem;
  margin: 0 0 0 .2rem;
}

.confirmation .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
